
:root {
    --white: #fff;
    --black: #000;
    --navy: #20113D;
    --orange: #F58021;
    --oragee-hover: #D26004;
    --turquoise: #00A092;
    --turquoise-hover: #05786E;
    --turquoise-light: #80CFC8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
  }